* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 246, 246);
  font-family: Helvetica;
  font: inherit;
  font-size: medium;
  padding: 25px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: medium;
  text-align: center;
}

.paragraph1 {
  color: rgb(238, 5, 33);
}

#first-name {
  background: rgb(118, 28, 201);
  border: 10px dotted;
  border-width: medium;
  margin-bottom: 30px;
}

#last-name {
  background-color: brown;
  border: 10px double;
  border-width: medium;
  width: fit-content;
}

#my-photo {
  width: 300px;
}

a {
  background-color: rgb(247, 244, 244);
}

#paragraph1 h2 {
  /* text-align: center; */
  color: coral;
}

.foot {
  background-color: rgb(216, 40, 190);
  font-family: sans-serif;
  text-align: center;
  width: fit-content;
}
